

@model List<Department>





<a asp-action="addnew" asp-controller="Department" class="btn btn-danger">Add new department</a>

<br /> <br/>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Manager</th>
            <th scope="col">Location</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
            
            @foreach(var d in Model)
            {
            <tr>
                <td>@d.ID</td>
                <td>@d.Name</td>
                <td>@d.Manager</td>
                <td>@d.Location</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@d.ID" class="btn btn-success">Edit</a>
                    @* <a asp-action="Delete" asp-route-id="@d.ID" class="btn btn-danger">Delete</a> *@
                </td>
                <td>
                    <a asp-action="getAllVM" class="btn btn-info">Details</a>
                    @* <a asp-action="Delete" asp-route-id="@d.ID" class="btn btn-danger">Delete</a> *@
                </td>
                <td>
                    <a asp-action="delete" asp-route-id="@d.ID" class="btn btn-danger">Delete</a>
                    @* <a asp-action="Delete" asp-route-id="@d.ID" class="btn btn-danger">Delete</a> *@
                </td>
            </tr>
            }
           
            
        
    </tbody>
</table>