@model List<Student>


<a href="/Student/Add" class="btn btn-danger">Add</a>
<br/> <br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Image</th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        
            @foreach(var d in Model)
            {
            <tr>
                <td>@d.ssn</td>
                <td>@d.Name</td>
                <td>@d.Age</td>
                <td>@d.Address</td>
                <td><img src="/images/@d.Image" alt="Image" width="100" height="100" /></td>
                <td>
                    <a asp-controller="Student" asp-action="Edit" asp-route-ssn="@d.ssn" class="btn btn-success">Edit</a>
                </td>
                <td>
                    <a asp-controller="Student" asp-action="Details" asp-route-ssn="@d.ssn" class="btn btn-success">Details</a>
                </td>
             </tr>
            }
            
       
    </tbody>
</table>